@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:wght@400;500;600&display=swap');
@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    .dark input:not([type='checkbox']):not([type='radio']):not([type='range']),
    .dark select,
    .dark textarea {
        color: rgb(243 244 246);
        caret-color: rgb(243 244 246);
        color-scheme: dark;
    }

    .dark input:not([type='checkbox']):not([type='radio']):not([type='range'])::placeholder,
    .dark textarea::placeholder {
        color: rgb(156 163 175);
    }

    .dark select option {
        color: rgb(243 244 246);
        background-color: rgb(15 23 42);
    }
}
